 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("e1dc92e4f7cfa684261a93969e5cbfd5.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-group-1 {
  width: 836px;
  min-height: 333px;
  margin: 216px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 32px 20px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-3 {
  width: 579px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 19px;
  height: 252px;
  margin: -218px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 20px;
  height: 245px;
  margin: -248px 0 0 auto;
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin: -4px auto 32px 361px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 689px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    width: 477px;
    position: relative;
  }

  .u-section-1 .u-link-1 {
    margin-left: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    min-height: 438px;
    margin-bottom: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-3 {
    width: 366px;
  }

  .u-section-1 .u-link-1 {
    margin-left: auto;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 489px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    width: 343px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -274px;
  }

  .u-section-1 .u-link-1 {
    margin-top: 52px;
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    width: 288px;
  }

  .u-section-1 .u-link-1 {
    margin-left: 108px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 258px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -142px auto 45px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 178px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 9.125rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 10px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  font-family: titillium-Web;
}

.u-section-2 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 200px;
  background-image: none;
}

.u-section-2 .u-group-1 {
  min-height: 158px;
  background-image: none;
  margin: -119px auto 20px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 15px 10px 15px 20px;
}

.u-section-2 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 8px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -109px;
    margin-bottom: 149px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -110px;
    margin-bottom: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 5px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 3px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 570px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 570px;
  background-image: url("07bdcaf28bfd9b8c0cd4bb0e998b41de.png");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 90px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin-left: 0;
  margin-right: 20px;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    position: relative;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 13px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    width: NaNpx;
    margin-right: 43px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 6px;
  }
} .u-section-4 {
  min-height: 366px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 366px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-right: 43px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  width: 328px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 328px;
  margin: 9px auto 35px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 366px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 43px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  width: 328px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  width: 328px;
  margin: 9px auto 35px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 366px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-right: 43px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  width: 328px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  width: 328px;
  margin: 9px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-4 .u-text-1 {
    width: 270px;
  }

  .u-section-4 .u-text-2 {
    width: 271px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 35px;
  }

  .u-section-4 .u-text-3 {
    width: 271px;
  }

  .u-section-4 .u-text-4 {
    width: 271px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 35px;
  }

  .u-section-4 .u-text-5 {
    width: 271px;
  }

  .u-section-4 .u-text-6 {
    width: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 27px;
  }

  .u-section-4 .u-text-1 {
    width: 207px;
  }

  .u-section-4 .u-text-2 {
    width: 207px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 27px;
  }

  .u-section-4 .u-text-3 {
    width: 207px;
  }

  .u-section-4 .u-text-4 {
    width: 207px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 27px;
  }

  .u-section-4 .u-text-5 {
    width: 207px;
  }

  .u-section-4 .u-text-6 {
    width: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    width: 194px;
  }

  .u-section-4 .u-text-2 {
    width: 194px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    width: 194px;
  }

  .u-section-4 .u-text-4 {
    width: 194px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    width: 194px;
  }

  .u-section-4 .u-text-6 {
    width: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 45px;
  }

  .u-section-4 .u-text-1 {
    width: 208px;
    margin-top: 26px;
  }

  .u-section-4 .u-text-2 {
    width: 221px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 45px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 38px;
  }

  .u-section-4 .u-text-3 {
    width: 163px;
  }

  .u-section-4 .u-text-4 {
    width: 223px;
    margin-bottom: 38px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 40px;
  }

  .u-section-4 .u-text-5 {
    width: 192px;
  }

  .u-section-4 .u-text-6 {
    width: 213px;
    margin-bottom: 40px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 862px;
}

.u-section-5 .u-group-1 {
  width: 895px;
  min-height: 218px;
  margin: 51px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  margin-top: 20px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 37px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("a0f4117d9792ecc4653ca94b1261ee4e.jpeg");
  min-height: 409px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("7e5df1698fd093dead080407b02ac992.jpeg");
  min-height: 409px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("0ffec2870be6068ac39a0ce760af7f1c.jpeg");
  min-height: 409px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("da2e44cde60e739f8c3689966c96be23.jpeg");
  min-height: 409px;
  background-position: 50% 50%;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 51px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 738px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 565px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 530px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  min-height: 50vw;
}

.u-section-6 .u-image-1 {
  height: 601px;
  margin-top: 359px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-group-1 {
  width: 925px;
  min-height: 218px;
  margin: -894px auto 0 calc(((100% - 1140px) / 2) + 108px);
}

.u-section-6 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 10px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 10px 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  width: 664px;
  margin: 20px auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 925px;
  margin: 31px auto 0 calc(((100% - 1140px) / 2) + 108px);
}

.u-section-6 .u-layout-cell-1 {
  min-height: 299px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 20px 20px 26px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 299px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  margin: 20px 20px 26px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 299px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  margin: 20px 20px 26px;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 296px;
}

.u-section-6 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-11 {
  font-style: italic;
  margin: 20px 20px 26px;
}

.u-section-6 .u-layout-cell-5 {
  background-image: none;
  min-height: 296px;
}

.u-section-6 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-13 {
  font-style: italic;
  margin: 20px 20px 26px;
}

.u-section-6 .u-layout-cell-6 {
  background-image: none;
  min-height: 296px;
}

.u-section-6 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 26px auto 0;
}

.u-section-6 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-15 {
  font-style: italic;
  margin: 20px 20px 26px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 763px;
    margin-top: -918px;
    margin-left: calc(((100% - 1140px) / 2) + 189px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-text-3 {
    width: 548px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 763px;
    margin-top: 16px;
    margin-bottom: 45px;
    margin-left: calc(((100% - 1140px) / 2) + 189px);
  }

  .u-section-6 .u-icon-1 {
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-2 {
    position: relative;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-3 {
    position: relative;
  }

  .u-section-6 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-4 {
    position: relative;
  }

  .u-section-6 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-11 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-5 {
    position: relative;
  }

  .u-section-6 .u-text-12 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-13 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-6 {
    position: relative;
  }

  .u-section-6 .u-text-14 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-15 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-top: 960px;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 584px;
    margin-top: -1519px;
    margin-left: calc(((100% - 1140px) / 2) + 278px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    width: 419px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 584px;
    margin-left: calc(((100% - 1140px) / 2) + 278px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    margin-top: 1555px;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-top: -2114px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-3 {
    width: 393px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 364px;
    margin-top: 20px;
    margin-bottom: 41px;
    margin-left: calc(((100% - 1140px) / 2) + 388px);
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    margin-top: 1619px;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: -2178px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-3 {
    width: 330px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 308px;
    margin-top: 19px;
    margin-bottom: 42px;
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("a1ad3c985cfbd488b2a89735284a07e7.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 597px;
}

.u-section-7 .u-group-1 {
  width: 798px;
  min-height: 347px;
  margin: 125px auto 55px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  line-height: 1.4;
  margin: 25px 20px 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 20px 20px 23px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-group-1 {
    width: 658px;
    min-height: 376px;
    margin-top: 90px;
  }

  .u-section-7 .u-icon-1 {
    position: relative;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-7 .u-group-1 {
    min-height: 460px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 45px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-7 .u-group-1 {
    min-height: 529px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 55px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 516px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 58px auto 58px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-8 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-8 .u-image-1 {
  width: 143px;
  height: 67px;
  margin: 33px auto 15px;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 133px;
}

.u-section-8 .u-image-2 {
  width: 143px;
  height: 67px;
  margin: 33px auto 15px;
}

.u-section-8 .u-layout-cell-4 {
  background-image: none;
  min-height: 133px;
}

.u-section-8 .u-image-3 {
  width: 143px;
  height: 67px;
  margin: 33px auto 15px;
}

.u-section-8 .u-layout-cell-5 {
  background-image: none;
  min-height: 133px;
}

.u-section-8 .u-image-4 {
  width: 143px;
  height: 67px;
  margin: 33px auto 15px;
}

.u-section-8 .u-layout-cell-6 {
  background-image: none;
  min-height: 133px;
}

.u-section-8 .u-image-5 {
  width: 243px;
  height: 122px;
  margin: 6px auto;
}

.u-section-8 .u-layout-cell-7 {
  background-image: none;
  min-height: 133px;
}

.u-section-8 .u-image-6 {
  width: 143px;
  height: 67px;
  margin: 33px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-image-1 {
    width: 118px;
  }

  .u-section-8 .u-image-2 {
    width: 118px;
  }

  .u-section-8 .u-image-3 {
    width: 118px;
  }

  .u-section-8 .u-image-4 {
    width: 118px;
  }

  .u-section-8 .u-image-5 {
    width: 200px;
  }

  .u-section-8 .u-image-6 {
    width: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-image-1 {
    width: 90px;
  }

  .u-section-8 .u-image-2 {
    width: 90px;
  }

  .u-section-8 .u-image-3 {
    width: 90px;
  }

  .u-section-8 .u-image-4 {
    width: 90px;
  }

  .u-section-8 .u-image-5 {
    width: 153px;
  }

  .u-section-8 .u-image-6 {
    width: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-1 {
    width: 84px;
  }

  .u-section-8 .u-image-2 {
    width: 84px;
  }

  .u-section-8 .u-image-3 {
    width: 84px;
  }

  .u-section-8 .u-image-4 {
    width: 84px;
  }

  .u-section-8 .u-image-5 {
    width: 144px;
  }

  .u-section-8 .u-image-6 {
    width: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-image-1 {
    width: 71px;
  }

  .u-section-8 .u-image-2 {
    width: 71px;
  }

  .u-section-8 .u-image-3 {
    width: 71px;
  }

  .u-section-8 .u-image-4 {
    width: 71px;
  }

  .u-section-8 .u-image-5 {
    width: 121px;
  }

  .u-section-8 .u-image-6 {
    width: 71px;
  }
} .u-section-9 {
  min-height: 366px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 366px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding-right: 35px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 98px auto 0;
}

.u-section-9 .u-text-1 {
  letter-spacing: 1px;
  font-family: titillium-Web;
  margin: 35px 28px 0 63px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 366px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 98px auto 0;
}

.u-section-9 .u-text-2 {
  letter-spacing: 1px;
  width: 307px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 366px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 98px auto 0;
}

.u-section-9 .u-text-3 {
  letter-spacing: 1px;
  width: 321px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 29px;
  }

  .u-section-9 .u-text-1 {
    width: 253px;
    position: relative;
    margin-right: 52px;
    margin-left: 52px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: 35px;
    margin-left: 29px;
    margin-right: 29px;
    width: auto;
    position: relative;
  }

  .u-section-9 .u-text-3 {
    margin-bottom: 35px;
    margin-left: 11px;
    margin-right: 11px;
    width: auto;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 35px;
  }

  .u-section-9 .u-text-1 {
    width: 194px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-icon-2 {
    margin-top: 110px;
  }

  .u-section-9 .u-text-2 {
    width: 281px;
    margin-right: 64px;
    margin-left: 64px;
  }

  .u-section-9 .u-icon-3 {
    margin-top: 35px;
  }

  .u-section-9 .u-text-3 {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-9 .u-text-1 {
    width: 182px;
  }

  .u-section-9 .u-icon-2 {
    margin-top: 35px;
  }

  .u-section-9 .u-text-2 {
    width: 284px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-3 {
    width: 308px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 771px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .u-section-9 .u-text-1 {
    width: 153px;
    margin-bottom: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-9 .u-text-2 {
    width: 282px;
    margin-bottom: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 257px;
  }

  .u-section-9 .u-text-3 {
    width: 315px;
    margin-bottom: 0;
  }
}